@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');
body
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/f1.jpg);
  background-size: 200% 200%;
	position: relative;
	animation: cambiar 60s ease-in-out infinite;
}
@keyframes cambiar
{
    0%{background-position: 60% 60%;}
    50%{background-position: 100% 80%;}
    100%{background-position: 60% 60%;}
}
section
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card
{
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .3);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
}

section .card::after
{
  content: "";
  position: absolute;
  height: 1200px;
  width: 450px;
  background-image: conic-gradient(rgba(255, 171, 11, 1)20deg, transparent 120deg);
  animation: rotar 12s linear infinite;
  overflow: hidden;
  animation-delay: -6s;
}
section .card::before
{
  content: "";
  position: absolute;
  height: 1200px;
  width: 450px;
  background-image: conic-gradient(rgb(0, 238, 255) 20deg, transparent 120deg);
  animation: rotar 12s linear infinite;
  overflow: hidden;
}
@keyframes rotar{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-360deg);
  }
}

section .card .card-1
{ 
  width: 995px;
  height: 595px;
  border-radius: 20px;
  background: rgba(16, 25, 42, 1);
  background-size: 200% 200%;
	animation: cambiar 10s ease-in-out infinite;
  overflow: hidden;
  backdrop-filter: blur(20px);
  z-index: 1;
  display: flex;
}


section .card .card-1 .izq
{
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}
section .card .card-1 .izq .graficos
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.absolute
{
  position: absolute;
}
section .card .card-1 .izq .graficos .graphic-hombre
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  z-index: 10;
}
section .card .card-1 .izq .graficos .graphic-hombre img
{
  height: 100%;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .5);
}
section .card .card-1 .izq .graficos .graphic-circulo
{
  width: 100%;
}
section .card .card-1 .izq .graficos .graphic-circulo img
{
  width: 100%;
  height: 100%;
}
section .card .card-1 .izq .graficos .graphic-circulo .graphic-c2
{
  animation: tornado 25s linear infinite;
  opacity: 60%;
}
@keyframes tornado
{
  to{
      transform: rotate(1turn);
    }
}
@keyframes tornado1
{
  to{
      transform: rotate(-1turn);
    }
}
section .card .card-1 .der
{
  width: 50%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  align-items: center;
  backdrop-filter: 50px;
  z-index: 999;
}
section .card .card-1 .der .der-cont
{
  backdrop-filter: blur(20px);
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column; 
  padding: 25px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: 50px;
  background: #ffffff1e;
}
section .card .card-1 .der .logo
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card .card-1 .der .logo img
{
  width: 80%;
  height: auto;
}
::placeholder
{
  color: #ffffff80;
}
section .card .card-1 .der .formulario
{
  width: 100%;
  height: 50%;
  color: #fff;
  margin-top: 15px;
}
section .card .card-1 .der .formulario h1
{
  color: #fff;
  font-size: 1rem;
  margin: 0;
  margin-left: 10px;
  font-weight: 300;
}
section .card .card-1 .der .formulario h2
{
  color: #fff;
  font-size: 1rem;
  margin: 0;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: 300;
}
section .card .card-1 .der .formulario .input-caja
{
  width: 100%;
  background: #ffffff23;
  border: none;
  margin: 5px 0;
  height: 32px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
section .card .card-1 .der .formulario .btn
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
section .card .card-1 .der .formulario .btn span
{
  color: #fff;
  font-size: 0.9rem;
}
section .card .card-1 .der .formulario .btn .u-field-input
{
  width: 15px;
  height: 15px;

}
section .card .card-1 .der .formulario .enviar
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .card .card-1 .der .formulario .enviar a
{
  position: relative;
  padding: 4px 100px;
  text-decoration: none;
  color: #fff;
  z-index: 2;
  margin-top: 20px;
}
section .card .card-1 .der .formulario .enviar a::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90deg,rgb(255, 15, 15), rgb(251, 255, 20), rgb(19, 227, 255), rgb(255, 30, 143));
  background-size: 300%;
  border-radius: 20px;
  z-index: -1;
  transition: all 0.7s ease;
}

section .card .card-1 .der .formulario .enviar a:hover::after
{
  background-position: 100%;
  filter: blur(15px);
}

section .card .card-1 .der .formulario .enviar a::before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, rgb(255, 15, 15), rgb(251, 255, 20), rgb(19, 227, 255), rgb(255, 30, 143));
  background-size: 300%;
  border-radius: 20px;
  z-index: -1;
}

section .card .card-1 .der .formulario .enviar a:hover::before
{
  background-position: 100%;
}
section .card .card-1 .der .invitado
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
section .card .card-1 .der .invitado a
{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
}
section .card .card-1  .der .invitado a:hover
{
  color: #5dd17a;
  transform: scale(1.1);
  transition: 0.5s;
}
section .card .card-1 .der .redes
{
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}
section .card .card-1 .der .redes a
{
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-duration: 0.25s;
}
section .card .card-1 .der .redes a:hover
{
  outline-offset: 5px;
}
section .card .card-1 .der .redes a i
{
  color: #fff;
  margin: auto;
}
section .card .card-1 .der .redes a:nth-child(1):hover i
{
  animation:  shake 0.35s;
  color: #5444eb;
}
section .card .card-1 .der .redes a:nth-child(2):hover i
{
  animation:  shake 0.35s;
  color: #df4f97;
}
section .card .card-1 .der .redes a:nth-child(3):hover i
{
  animation:  shake 0.35s;
  color: #19e606;
}
section .card .card-1 .der .redes a:nth-child(4):hover i
{
  animation:  shake 0.35s;
  color: #ff4444;
}
@keyframes shake
{
  10%
  {
    transform: rotate(25deg);
  }
  20%
  {
    transform: rotate(-25deg);
  }
  30%
  {
    transform: rotate(25deg);
  }
  40%
  {
    transform: rotate(-25deg);
  }
}
@media (max-width:650px)
{
  section .card
{
  width: 300px;
  height: 550px;
}
section .card .card-1 .izq .graficos .graphic-hombre img
{
  height: 100%;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .0);
  display: none;
}
section .card .card-1
{ 
  width: 295px;
  height: 545px;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
}
section .card .card-1 .izq
{
  width: 100%;
  height: 30%;
  position: absolute;
}
section .card .card-1 .der
{
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}
section .card .card-1 .der .der-cont
{
  width: 90%;
  height: 100%;
  
}
section .card .card-1 .der .formulario h1
{
  color: #fff;
  font-size: .8rem;
  margin: 0;
  margin-left: 10px;
  font-weight: 300;
}
section .card .card-1 .der .formulario h2
{
  color: #fff;
  font-size: .8rem;
  margin: 0;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: 300;
}
section .card .card-1 .der .formulario .btn span
{
  color: #fff;
  font-size: .8rem;
}
section .card .card-1 .der .formulario .enviar a
{
  position: relative;
  padding: 3px 50px;
  text-decoration: none;
  color: #fff;
  z-index: 2;
  margin-top: 20px;
}
section .card .card-1 .der .redes a
{
  text-decoration: none;
  font-size: .8rem;
  display: inline-flex;
  width: 20px;
  height: 20px;
}
}