@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
:root
{
    --fondo-blanco: #F5F5F5;
    --fondo-negro: #000000;
    --txt-blanco: #fff;
    --txt-negro: #000000;
    --azul: #0f1e30;
    --borde-blanco: #B5B5B5;
    --naranja: #F37119;
}
body
{
   font-family: 'Ubuntu', sans-serif;
}

.abre
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}
.abre .capa
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: abre 1s ease-in-out forwards;
}
.abre .capa:nth-child(1)
{
    background: var(--azul);
    z-index: 999;
}
.abre .capa:nth-child(2)
{
    background: var(--naranja);
    z-index: 998;
    animation-delay: 1s;
}
@keyframes abre 
{
    0%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(0);
    }
}
nav
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 0 1px;
}
nav .izq-1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 80px;


}
nav .izq-1 .logo
{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-1 .logo a img
{
    width: 40%;
    cursor: pointer;
}
nav .izq-1 .logo a
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 80px;
}

nav .izq-2 .buscador
{
    width: 80%;
    height: 45px;
    background: var(--azul);
    border: 1px solid var(--borde-blanco);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2 .buscador i
{
    color: var(--borde-blanco);
    margin-right: 20px;
}
::placeholder
{
    color: var(--fondo-blanco);
}
nav .izq-2 .buscador input
{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 260px;
    color: var(--txt-blanco);
}
nav .der-1
{
    width: 35%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .der-1 .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .der-1 .menu li
{
    width: 30%;
    list-style: none;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
    height: 80px;
    overflow: hidden;
}
nav .der-1 .menu li:hover
{transition: .5s;
    overflow: visible;
    
}
nav .der-1 .menu li a:hover
{
    color: var(--naranja);
}
nav .der-1 .menu li:nth-child(2):hover
{
    background: var(--naranja);
    animation-duration: 10s;
}
nav .der-1 .menu li:nth-child(2) a:hover
{
    background: var(--naranja);
    color: var(--azul);
    animation-duration: 10s;
}

nav .der-1 .menu li a
{
    color: white;
    text-decoration: none;
    display: block;
    transition: .8s;
}
nav .der-1 .menu li ul li
{
    width: 100%;
    height: 80px;
    background: var(--naranja);
    
}
nav .der-1 .menu li ul li:nth-child(4)
{
    border-bottom-right-radius: 20px;
}
nav .der-1 .menu li ul li a:hover
{
    color: var(--azul);
    
}
nav .der-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 15%;
    height: 80px;
}
nav .der-2 i
{
    width: 35px;
    height: 35px;
    color: var(--fondo-blanco);
    line-height: 35px;
    font-size: 1.5rem;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}
nav .der-2 i:hover
{
    background: rgba(231, 231, 231, 0.2);
    border-radius: 35px;
}
#ventana-d
{
    width: 200px;
    height: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out .7s;
}
#ventana-d a
{
    height: 80px;
    margin-right: 43px;
    padding-top: 28px;
    font-size: 1.5rem;
    color: var(--azul);
    transition: ease-in 0.5s;
}
#ventana-d:target
{
    z-index: 1;
    opacity: 1;
}
#ventana-d a
{
    color: rgb(255, 255, 255);
}
#ventana-d a:hover
{
    color: rgb(255, 255, 255);
}
#ventana-d .contenido-perfil
{
    width: 100%;
    height: 200px;
    background:var(--naranja);
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul hr
{
    width: 90%;
}
#ventana-d .contenido-perfil ul li
{
    list-style: none; 
    margin: 10px ;
}
#ventana-d .contenido-perfil ul li a
{
    font-size: 1rem;
    margin: 0;
}
#ventana-d .contenido-perfil ul li a:hover
{
    color: var(--azul);
}
#ventana-d
{
    width: 200px;
    height: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out .7s;
}
#ventana-d a
{
    height: 80px;
    margin-right: 43px;
    padding-top: 28px;
    font-size: 1.5rem;
    color: var(--azul);
    transition: ease-in 0.5s;
}
#ventana-d:target
{
    z-index: 1;
    opacity: 1;
}
#ventana-d a
{
    color: rgb(255, 255, 255);
}
#ventana-d a:hover
{
    color: rgb(255, 255, 255);
}
#ventana-d .contenido-perfil
{
    width: 100%;
    height: 200px;
    background:var(--naranja);
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul hr
{
    width: 90%;
}
#ventana-d .contenido-perfil ul li
{
    list-style: none; 
    margin: 10px ;
}
#ventana-d .contenido-perfil ul li a
{
    font-size: 1rem;
    margin: 0;
}
#ventana-d .contenido-perfil ul li a:hover
{
    color: var(--azul);
}
.sec-1
{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#172d47,#0f1e30, #0f1e30);
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif ;
    position: relative;
}
.sec-1 .caja
{
    margin-top: 60px;
    position: absolute;
    width: 80%;
    height: 80vh;
}
.sec-1 .caja .forma:nth-child(1)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
.sec-1 .caja .forma:nth-child(2)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov1 5s linear infinite;
}
.sec-1 .caja-1
{
    position: absolute;
    width: 80%;
    height: 70vh;
}
.sec-1 .caja-1 .forma:nth-child(1)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--naranja);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    animation: mov2 5s linear infinite;
}
.sec-1 .caja-1 .forma:nth-child(2)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--naranja);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    animation: mov3 5s linear infinite;
}
@keyframes mov2 
{
    0% , 100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
@keyframes mov3 
{
    0% , 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
.sec-1 .caja-2
{
    position: absolute;
    width: 59%;
    height: 60vh;
}
.sec-1 .caja-2 .forma
{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-10px);
        
    }
    50%
    {
        transform: translateX(0px);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(10px);
    }
    50%
    {
        transform: translateX(0px);
    }
}

.sec-1 .perfil
{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sec-1 .perfil .perfil-cont
{
    width: 75%;
    height: 600px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.sec-1 .perfil .perfil-cont .perfil-img
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sec-1 .perfil .perfil-cont .perfil-img .circulo
{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 10px solid var(--naranja);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sec-1 .perfil .perfil-cont .perfil-img .circulo i
{
    font-size: 4rem;
    position: absolute;
    border-radius: 50% ;
    color: var(--fondo-blanco);
    z-index: 10;
    background: var(--naranja);
    top: 94%;
}
.sec-1 .perfil .perfil-cont .perfil-img .imagen
{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-1 .perfil .perfil-cont .perfil-img .imagen img
{
    height: 100%;
}
.sec-1 .perfil .perfil-cont .perfil-info
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion
{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion h1
{
    font-size: 3.4rem;
    color: var(--fondo-blanco);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin: 10px 0;

}
.sec-1 .perfil .perfil-cont .perfil-info .informacion h2
{
    font-size: 1.5rem;
    color: var(--fondo-blanco);
    margin-left: 10px;
    margin: 10px 0;
    font-weight: 100;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion a
{
    margin-top: 50px;
    font-size: 1.5rem;
    color: var(--fondo-blanco);
    padding: 5px 50px;
    border: 1px solid var(--borde-blanco);
    border-radius: 20px;
    transition-duration: 1s;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion a:hover
{
    font-size: 1.4rem;
    margin: 5px;
    color: var(--txt-blanco);
    background: var(--naranja);
}
.sec-2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#172d47,#0f1e30, #0f1e30);
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    border-top: 1px solid var(--borde-blanco);
}
.sec-2 .txt
{
    width: 15%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2 .txt i
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    font-weight: 300;
}
.sec-2 .txt p
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    font-weight: 500;
}
.sec-2 .fav-cont
{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sec-2 .fav-cont .contenedor
{
    width: 200px;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.sec-2 .fav-cont .contenedor .libro 
{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec-2 .fav-cont .contenedor .libro .circle
{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.sec-2 .fav-cont .contenedor .libro .circle
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--naranja);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2 .fav-cont .contenedor .libro .circle .circulo
{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.sec-2 .fav-cont .contenedor .libro .circle .circulo img
{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.sec-2 .fav-cont .contenedor .info
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sec-2 .fav-cont .contenedor .info .titulo
{
    width: 100%;
    height: 30px;
    text-align: center;
}
.sec-2 .fav-cont .contenedor .info .autor
{
    width: 100%;
    height: 30px;
    text-align: center;
}
.sec-2 .fav-cont .contenedor .info .titulo h2
{
    font-size: 2rem;
    color: var(--fondo-blanco);
}
.sec-2 .fav-cont .contenedor .info .autor span
{
    font-size: 1rem;
    color: var(--fondo-blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-3
{
    width: 100%;
    border-top: 1px solid var(--txt-blanco) ;
    background: radial-gradient(#172d47,#0f1e30, #0f1e30);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid var(--borde-blanco);*/
    border-left: none;
    border-right: none;
    font-family: 'Ubuntu', sans-serif ;

}
.sec-3 .txt
{
    width: 40%;
    height: 80px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-3 .txt p
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    font-weight: 500;
}
.sec-3 .txt i
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    font-weight: 300;
}
.sec-3 .cont-ficha
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 80px;
}
.sec-3 .cont-ficha .ficha
{
    width: 500px;
    height: 180px;
    border: 1px solid var(--borde-blanco);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.sec-3 .cont-ficha .ficha .libro
{
    width: 20%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;

}
.sec-3 .cont-ficha .ficha .libro img
{
    width: 100%;
    margin-left: 10%;
}

.sec-3 .cont-ficha .ficha .descripcion
{
    width: 70%;
    height: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.sec-3 .cont-ficha .ficha .descripcion .titulo
{
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-3 .cont-ficha .ficha .descripcion .titulo p
{
    font-size: 1.5rem;
    color: var(--fondo-blanco);
    margin: 0;
}
.sec-3 .cont-ficha .ficha .descripcion .autor
{
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-3 .cont-ficha .ficha .descripcion .autor p
{
    font-size: 1.2rem;
    color: var(--fondo-blanco);
    margin: 0;

}
.sec-3 .cont-ficha .descripcion .leer
{
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-3 .cont-ficha .descripcion .leer a
{
    color: var(--borde-blanco);
    font-size: 1rem;
    transition: 0.4s;
    padding: 5px 50px;
    border: 1px solid var(--borde-blanco);
    border-radius: 10px;

}
.sec-3 .cont-ficha .descripcion .leer a:hover
{
   color: var(--fondo-blanco);
   font-size: 1.1rem;
   background: var(--naranja);
}
.sec-4
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#172d47,#0f1e30, #0f1e30);
    flex-direction: column;
    /*border: 1px solid var(--borde-blanco);*/
    border-left: none;
    border-right: none;
    position: relative;
}

.sec-4 .txt
{
    width: 40%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sec-4 .txt i
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    line-height: 30px;
    font-weight: 300;
    
}
.sec-4 .txt p
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    line-height: 30px;
    font-weight: 500;
    
}
.sec-4 .contenedor
{
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sec-4 .contenedor .cont:nth-child(1)
{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}
.sec-4 .contenedor .cont:nth-child(2)
{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
    margin-bottom: 120px;
}
.sec-4 .contenedor .cont:nth-child(3)
{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}
.sec-4 .contenedor .cont .imagen
{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;
}
.sec-4 .contenedor .cont .imagen img
{
    width: 100%;
}
.sec-4 .contenedor .cont .texto h1
{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--txt-blanco);
}
.sec-4 .contenedor .cont .texto p
{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--txt-blanco);
}
.sec-4 .contenedor .cont .texto .leer
{
    
    height: 80px;
    line-height: 50px;
}
.sec-4 .contenedor .cont .texto .leer a
{
    font-size: 1.2rem;
    color: var(--txt-blanco);
    padding: 5px 20px;
    border: 1px solid var(--borde-blanco);
    border-radius: 20px;
    transition-duration: 1s;
}

.sec-4 .contenedor .cont .texto
{
    position: absolute;
    width: 100%;
    height: 60%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
    text-align: center;
}
.sec-4 .contenedor .cont .texto .leer a:hover
{
    color: var(--txt-blanco);
    background: var(--naranja);
    border: none;
}
footer
{
    width: 100%;
    height: 300px;
    background-color: var(--azul);
    border-top: 1px solid var(--borde-blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .izq
{
    width: 30%;
    text-align: center;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: 1.2rem;
}
footer .centro
{
    width: 40%;
}
footer .centro .redes
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 1px solid var(--fondo-blanco);
  transition-duration: 0.25s;
}
footer .centro .redes a:hover
{
  outline-offset: 5px;
}
footer .centro .redes a i
{
  color: var(--fondo-blanco);
  margin: auto;
}
footer .centro .redes a:nth-child(1):hover i
{
  animation:  shake 0.35s;
  color: #4f3bff;
}
footer .centro .redes a:nth-child(2):hover i
{
  animation:  shake 0.35s;
  color: #ff68b4;
}
footer .centro .redes a:nth-child(3):hover i
{
  animation:  shake 0.35s;
  color: #42ff31;
}
footer .centro .redes a:nth-child(4):hover i
{
  animation:  shake 0.35s;
  color: #fd8989;
}
@keyframes shake
{
  10%
  {
    transform: rotate(25deg);
  }
  20%
  {
    transform: rotate(-25deg);
  }
  30%
  {
    transform: rotate(25deg);
  }
  40%
  {
    transform: rotate(-25deg);
  }
}
footer .der
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .der a
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
footer .der a:hover
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--naranja);
}

@media (max-width:650px)
{
    nav
    {
        height: 40px;
    }
    nav .izq-1
    {
        width: 40%;
    }
    nav .izq-1 .logo a img
    {
        width: 60%;
    }
    nav .izq-2
    {
        display: none;
    }

    nav .der-1 .menu
    {
        justify-content: flex-end;
    }
    nav .der-1 .menu li:nth-child(1)
    {
        display: none;
    }
    nav .der-1 .menu li:nth-child(2) a
    {
        font-size: .8rem;
    }
    nav .der-1 .menu li:nth-child(2) ul
    {
        display: none;
    }
    nav .der-1 .menu li:nth-child(3)
    {
        display: none;
    }
    nav .der-2
    {
        width: 40%;
    }
    nav .der-2 i
    {
        font-size: .8rem;
    }
    #ventana-d a
{
    height: 40px;
    font-size: .8rem;
}
.sec-1 .caja 
{
    width: 90%;
    height: 53%;
}
.sec-1 .caja-1
{
    width: 90%;
    height: 30%;
}
.sec-1 .caja-2
{
    display: none;
}
    .sec-1 .caja .forma:nth-child(1)
{
    width: 30px;
    height: 70px;
}
.sec-1 .caja .forma:nth-child(2)
{
    width: 30px;
    height: 70px;
}
.sec-1 .caja-1 .forma:nth-child(1)
{
    width: 30px;
    height: 30px;
}
.sec-1 .caja-1 .forma:nth-child(2)
{
    width: 30px;
    height: 30px;
}
.sec-1 .caja-2 .forma:nth-child(1)
{
    width: 70px;
    height: 30px;
}
.sec-1 .caja-2 .forma:nth-child(2)
{
    width: 70px;
    height: 30px;
}
.sec-1
{
    margin-top: 40px;
}
.sec-1 .perfil
{
    height: 80vh;
    flex-wrap: wrap;
}
.sec-1 .perfil .perfil-cont
{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.sec-1 .perfil .perfil-cont .perfil-img
{
    width: 100%;
    height: 50%;
}
.sec-1 .perfil .perfil-cont .perfil-img .circulo
{
    width: 320px;
    height: 320px;
    border: 5px solid var(--naranja);
}
.sec-1 .perfil .perfil-cont .perfil-img .circulo i
{
    font-size: 2rem;
    top: 96%;
}
.sec-1 .perfil .perfil-cont .perfil-img .imagen
{
    width: 260px;
    height: 260px;
    border-radius: 50%;
}
.sec-1 .perfil .perfil-cont .perfil-info
{
    width: 100%;
    height: 50%;
    text-align: center;
    align-items: flex-start;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion h1
{
    font-size: 2rem;

}
.sec-1 .perfil .perfil-cont .perfil-info .informacion h2
{
    font-size: 1rem;
}
.sec-1 .perfil .perfil-cont .perfil-info .informacion a
{
    margin-top: 50px;
    font-size: 1rem;
}
.sec-2
{
    width: 100%;
}
.sec-2 .txt
{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}
.sec-2 .txt i
{
    font-size: 2rem;
}
.sec-2 .txt p
{
    font-size: 2rem;
}
.sec-2 .fav-cont
{
    width: 90%;
    height: auto;
    margin-bottom: 50px;
}
.sec-2 .fav-cont .contenedor
{
    width: 100px;
    height: 150px;
}
.sec-2 .fav-cont .contenedor .libro 
{
    width: 100px;
    height: 100px;

}
.sec-2 .fav-cont .contenedor .libro .circle
{
    border: 2px solid var(--naranja);
}
.sec-2 .fav-cont .contenedor .info
{
    width: 100%;
    height: 50px;
    padding-bottom: 50px;
}
.sec-2 .fav-cont .contenedor .info .titulo
{
    width: 100%;
    height: auto;
}
.sec-2 .fav-cont .contenedor .info .autor
{
    width: 100%;
    height: auto;
}
.sec-2 .fav-cont .contenedor .info .titulo h2
{
    font-size: 1rem;
}
.sec-2 .fav-cont .contenedor .info .autor span
{
    font-size: .8rem;
}
.sec-3
{
    border-top: 1px solid var(--txt-blanco);
    
}
.sec-3 .txt
{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.sec-3 .txt p:nth-child(1)
{
    font-size: 2rem;
}
.sec-3 .txt p:nth-child(2)
{
    font-size: 2rem;
    
}
.sec-3 .cont-ficha
{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.sec-3 .cont-ficha .ficha
{
    width: 200px;
    height:60px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.sec-3 .cont-ficha .ficha .libro
{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;

}
.sec-3 .cont-ficha .ficha .libro img
{
    width: 100%;
    margin-left: 0%;
}

.sec-3 .cont-ficha .ficha .descripcion .titulo p
{
    font-size: 1rem;
}
.sec-3 .cont-ficha .ficha .descripcion .autor p
{
    font-size: .6rem;

}
.sec-3 .cont-ficha .descripcion .leer a
{
    color: var(--borde-blanco);
    font-size: .8rem;
    padding: 2px 30px;
}
.sec-4
{
    border-top: 1px solid var(--txt-blanco);
    width: 100%;
    height: auto;
}
.sec-4 .txt
{
    width: 100%;
    height: auto;
    margin-top: 50px;

}
.sec-4 .txt i
{
    font-size: 2rem;
    
}
.sec-4 .txt p
{
    font-size: 2rem;
    
}
.sec-4 .contenedor
{
    width: 100%;
    height: 500px;
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
}
.sec-4 .contenedor .cont
{
    width: 180px;
    height: 100px;
    margin-bottom: 50px;
    position: absolute;
}
.sec-4 .contenedor .cont .texto h1
{
    font-size: 1rem;
}
.sec-4 .contenedor .cont .texto p
{
    font-size: .8rem;
}
.sec-4 .contenedor .cont .texto .leer
{
    
    height: 80px;
    line-height: 50px;
}
.sec-4 .contenedor .cont .texto .leer a
{
    font-size: 1rem;
}

.sec-4 .contenedor .cont .texto
{
    position: absolute;
    width: 100%;
    height: 30%;
}
footer
{
    height: 200px;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: .8rem;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
footer .centro .redes
{
  gap: 5px;
}
footer .der a
{
    font-size: .8rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
}