@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --fondo-blanco: #F5F5F5;
    --fondo-negro: #000000;
    --txt-blanco: #fff;
    --txt-negro: #000000;
    --azul: #0C1725;
    --borde-blanco: #B5B5B5;
    --naranja: #F37119;
}
body
{
   font-family: 'Ubuntu', sans-serif;
}

.abre
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}
.abre .capa
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: abre 1s ease-in-out forwards;
}
.abre .capa:nth-child(1)
{
    background: var(--azul);
    z-index: 999;
}
.abre .capa:nth-child(2)
{
    background: var(--naranja);
    z-index: 998;
    animation-delay: 1s;
}
@keyframes abre 
{
    0%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(0);
    }
}
nav
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 0 1px;
}
nav .izq-1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 80px;


}
nav .izq-1 .logo
{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-1 .logo a img
{
    width: 40%;
    cursor: pointer;
}
nav .izq-1 .logo a
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 80px;
}

nav .izq-2 .buscador
{
    width: 80%;
    height: 45px;
    background: var(--azul);
    border: 1px solid var(--borde-blanco);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2 .buscador i
{
    color: var(--borde-blanco);
    margin-right: 20px;
}
::placeholder
{
    color: var(--fondo-blanco);
}
nav .izq-2 .buscador input
{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 260px;
    color: var(--txt-blanco);
}
nav .der-1
{
    width: 35%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .der-1 .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .der-1 .menu li
{
    width: 30%;
    list-style: none;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
    height: 80px;
    overflow: hidden;
}
nav .der-1 .menu li:hover
{transition: .5s;
    overflow: visible;
    
}
nav .der-1 .menu li a:hover
{
    color: var(--naranja);
}
nav .der-1 .menu li:nth-child(2):hover
{
    background: var(--naranja);
    animation-duration: 10s;
}
nav .der-1 .menu li:nth-child(2) a:hover
{
    background: var(--naranja);
    color: var(--azul);
    animation-duration: 10s;
}

nav .der-1 .menu li a
{
    color: white;
    text-decoration: none;
    display: block;
    transition: .8s;
}
nav .der-1 .menu li ul li
{
    width: 100%;
    height: 80px;
    background: var(--naranja);
    
}
nav .der-1 .menu li ul li:nth-child(4)
{
    border-bottom-right-radius: 20px;
}
nav .der-1 .menu li ul li a:hover
{
    color: var(--azul);
    
}
nav .der-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 15%;
    height: 80px;
}
nav .der-2 i
{
    width: 35px;
    height: 35px;
    color: var(--fondo-blanco);
    line-height: 35px;
    font-size: 1.5rem;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}
nav .der-2 i:hover
{
    background: rgba(231, 231, 231, 0.2);
    border-radius: 35px;
}
#ventana-d
{
    width: 200px;
    height: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out .7s;
}
#ventana-d a
{
    height: 80px;
    margin-right: 43px;
    padding-top: 28px;
    font-size: 1.5rem;
    color: var(--azul);
    transition: ease-in 0.5s;
}
#ventana-d:target
{
    z-index: 1;
    opacity: 1;
}
#ventana-d a
{
    color: rgb(255, 255, 255);
}
#ventana-d a:hover
{
    color: rgb(255, 255, 255);
}
#ventana-d .contenido-perfil
{
    width: 100%;
    height: 200px;
    background:var(--naranja);
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul hr
{
    width: 90%;
}
#ventana-d .contenido-perfil ul li
{
    list-style: none; 
    margin: 10px ;
}
#ventana-d .contenido-perfil ul li a
{
    font-size: 1rem;
    margin: 0;
}
#ventana-d .contenido-perfil ul li a:hover
{
    color: var(--azul);
}
.section-1
{
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul);
    flex-direction: column;
    position: relative;
}
.section-1 .caja
{
    position: absolute;
    width: 80%;
    height: 80vh;
}
.section-1 .caja .forma:nth-child(1)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
.section-1 .caja .forma:nth-child(2)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov1 5s linear infinite;
}
.section-1 .caja-1
{
    position: absolute;
    width: 70%;
    height: 70vh;
}
.section-1 .caja-1 .forma:nth-child(1)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    animation: mov2 5s linear infinite;
}
.section-1 .caja-1 .forma:nth-child(2)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    animation: mov3 5s linear infinite;
}
@keyframes mov2 
{
    0% , 100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
@keyframes mov3 
{
    0% , 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
.section-1 .caja-2
{
    position: absolute;
    width: 60%;
    height: 60vh;
}
.section-1 .caja-2 .forma:nth-child(1)
{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov1 5s linear infinite;
}
.section-1 .caja-2 .forma:nth-child(2)
{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-10px);
        
    }
    50%
    {
        transform: translateX(0px);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(10px);
    }
    50%
    {
        transform: translateX(0px);
    }
}
.section-1 .texto
{
    width: 40%;
    height: 50px;
    margin-top: 60px;
    text-align: center;
}
.section-1 .texto span
{
    font-size: 1.2rem;
    color: var(--naranja);
}
.section-1 .texto-principal
{
    width: 70%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.section-1 .texto-principal .t1
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}
.section-1 .texto-principal .t3
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90px;
}
.section-1 .texto-principal .t1 .letra 
{
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: var(--txt-blanco);
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.section-1 .texto-principal .t1 .letra:nth-child(10)
{
    margin-right: 12px;
}
.section-1 .texto-principal .t3 .letra 
{
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color:  var(--naranja);
    font-size: 5.5rem;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
}
.section-1 .texto-principal .t1 .letra:hover
{
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg,  hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-1 .texto-principal .t3 .letra:hover
{
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg,  hsl(0, 0%, 100%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-1 .imagen-central
{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 700px;
    margin-top: -70px;
}
.section-1 .imagen-central .izq
{
    width: 32%;
    height: 100%;

}
.section-1 .imagen-central .izq .cont-text
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.section-1 .imagen-central .izq .cont-text p
{
    width: 50%;
    height: 30%;
    font-size: 1.1rem;
    margin-top: 50px;
    color: var(--fondo-blanco);
    text-align: right;
}

.section-1 .imagen-central .centro
{
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.section-1 .imagen-central .centro .cont-img
{
  width: 70%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .3);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: salto 12s linear infinite;
}
@keyframes salto 
{
    0% , 100%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(50px);
    }
}

.section-1 .imagen-central .centro .cont-img::after
{
  content: "";
  position: absolute;
  height: 1200px;
  width: 450px;
  background-image: conic-gradient(rgba(255, 171, 11, 1)20deg, transparent 120deg);
  animation: rotar 12s linear infinite;
  overflow: hidden;
  animation-delay: -6s;
}
.section-1 .imagen-central .centro .cont-img::before
{
  content: "";
  position: absolute;
  height: 1200px;
  width: 450px;
  background-image: conic-gradient(rgb(0, 238, 255) 20deg, transparent 120deg);
  animation: rotar 12s linear infinite;
  overflow: hidden;
}
@keyframes rotar{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-360deg);
  }
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
  }
.section-1 .imagen-central .centro .cont-img .imag
{
    width: 99%;
    height: 99%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
} 
.section-1 .imagen-central .centro .cont-img .imag img
{
    width: 100%;
    height: 100%;
    z-index: 10;
}
.section-1 .imagen-central .der
{
    width: 32%;
    height: 100%;
}
.section-1 .imagen-central .der .cont-text
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.section-1 .imagen-central .der .cont-text p
{
    width: 50%;
    height: 30%;
    font-size: 1.1rem;
    margin-top: 50px;
    color: var(--fondo-blanco);
}/*
.section-2
{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: var(--azul);
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
    position: relative;
    overflow: hidden;
}
.section-2 .slider
{
    position: relative;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 64px;
}
.section-2 .slider div
{
    animation: giro 20s linear infinite;
    animation-delay: -20s ; 

}
.section-2 .slider div img
{
    width: 250px;
}
@keyframes giro 
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.section-2 .slider div:nth-child(2)
{
    animation: giroB 20s linear infinite;
    animation-delay: -20s ;
}
@keyframes giroB
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }
}
.section-2 .slider:nth-child(even) div
{
    animation: reversa 20s linear infinite;
    animation-delay: -20s ;
}
@keyframes reversa
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.section-2 .slider:nth-child(even) div:nth-child(2)
{
    animation: reversaB 20s linear infinite;
    animation-delay: -20s ;
}
@keyframes reversaB
{ 
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}*/
.section-3
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul);
    flex-direction: column;
    border: 1px solid var(--borde-blanco);
    border-left: none;
    border-right: none;
    position: relative;
}
.section-3 .caja
{
    position: absolute;
    width: 90%;
    height: 70vh;
}
.section-3 .caja .forma:nth-child(1)
{
    width: 50px;
    height: 150px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
.section-3 .caja .forma:nth-child(2)
{
    width: 50px;
    height: 150px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    animation: mov 5s linear infinite;
}
.section-3 .caja-1
{
    position: absolute;
    width: 90%;
    height: 70vh;
}
.section-3 .caja-1 .forma:nth-child(1)
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov2 5s linear infinite;
}
.section-3 .caja-1 .forma:nth-child(2)
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov3 5s linear infinite;
}
@keyframes mov2 
{
    0% , 100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
@keyframes mov3 
{
    0% , 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}

@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-10px);
        
    }
    50%
    {
        transform: translateX(0px);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(10px);
    }
    50%
    {
        transform: translateX(0px);
    }
}
.section-3 .txt
{
    width: 40%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif ;

}
.section-3 .txt p:nth-child(1)
{
    font-size: 3rem;
    color: var(--txt-blanco);
    margin: 0;
    line-height: 30px;
    font-weight: 700;
    
}
.section-3 .txt p:nth-child(2)
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    line-height: 80px;
    font-weight: 800;
}
.section-3 .contenedor
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-3 .contenedor .cont:nth-child(1)
{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}
.section-3 .contenedor .cont:nth-child(2)
{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}
.section-3 .contenedor .cont:nth-child(3)
{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}
.section-3 .contenedor .cont .face
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}
.section-3 .contenedor .cont .front
{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.section-3 .contenedor .cont .front img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-3 .contenedor .cont .front h1
{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--txt-blanco);
    background: #0000001f;
}
.section-3 .contenedor .cont .back
{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.section-3 .contenedor .cont .back .link
{
    border-top: solid 1px #f3f3f3;
    height: 80px;
    line-height: 50px;
}
.section-3 .contenedor .cont .back .link a
{
    font-size: 1.2rem;
    color: var(--txt-blanco);
    padding: 5px 20px;
    border: 1px solid var(--borde-blanco);
    border-radius: 20px;
    transition-duration: 1s;
}

.section-3 .contenedor .cont .texto-cont
{
    position: absolute;
    width: 100%;
    height: 35%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
    text-align: center;
}
.section-3 .contenedor .cont .back h1
{
    font-size: 2.5rem;
    color: var(--txt-blanco);
    margin: 0;
    font-weight: 500;
}
.section-3 .contenedor .cont .back p
{
    font-size: 1.2rem;
    color: var(--txt-blanco);
    margin: 5px;
    padding: 15px;
}
.section-3 .contenedor .cont .back .link a:hover
{
    color: var(--txt-blanco);
    background: var(--naranja);
    border: none;
}
.section-3 .contenedor .cont:hover .front
{
    transform: perspective(600px) rotateY(180deg);
}
.section-3 .contenedor .cont:hover .back
{
    transform: perspective(600px) rotateY(360deg);
}
.section-4
{
    width: 100%;
    background: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0px solid var(--borde-blanco);
    border-left: none;
    border-right: none;
    font-family: 'Ubuntu', sans-serif ;
    position: relative;
}
.section-4 .caja
{
    position: absolute;
    width: 90%;
    height: 70vh;
}
.section-4 .caja .forma:nth-child(1)
{
    width: 40px;
    height: 130px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 15;
    left: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateY(20px);
    }
    50%
    {
        transform: translateY(0px);
        transform: scale(1.1);
    }
}
.section-4.caja .forma:nth-child(2)
{
    width: 40px;
    height: 130px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 16;
    bottom: 0;
    left: 0;
    animation: mov1 5s linear infinite;
}
.section-4 .caja-1
{
    position: absolute;
    width: 95%;
    height: 70vh;
}
.section-4 .caja-1 .forma:nth-child(1)
{
    width: 30px;
    height:30px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    animation: mov2 5s linear infinite;
}
.section-4 .caja-1 .forma:nth-child(2)
{
    width: 30px;
    height:30px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    animation: mov3 5s linear infinite;
}
@keyframes mov2 
{
    0% , 100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
@keyframes mov3 
{
    0% , 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
.section-4 .caja-2
{
    position: absolute;
    width: 60%;
    height: 100vh;
}

.section-4 .txt
{
    width: 15%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    
}
.section-4 .txt p:nth-child(1)
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    font-weight: 700;
}
.section-4 .txt p:nth-child(2)
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    font-weight: 700;
}
.section-4 .menu
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-4 .menu .izq a
{
    border: 2px solid var(--naranja);
    overflow: hidden;
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 10px;
    z-index: 2;
    border-radius: 24px;
}

.section-4 .menu .izq a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--naranja);
    z-index: -2;
    border-radius: 24px;
}

.section-4 .menu .izq a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: var(--azul);
    z-index: -1;
}

.section-4 .menu .izq a:hover::before{
    animation: agua 2s linear both;
}


@keyframes agua {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}
.section-4 .menu .centro .libros-recomendados
{
    display: flex;
    padding-left: 14px;
}
.section-4 .menu .centro .libros-recomendados ul
{
  display: flex;
  flex-wrap: wrap;
}
.section-4 .menu .centro .libros-recomendados ul li
{
  list-style: none;
  margin: 10px;
}
.section-4 .menu .centro .libros-recomendados ul li a
{
  color: var(--fondo-blanco);
  background: var(--azul);
  padding: 6px 12px;
  border: 1px solid var(--borde-blanco);
  font-size: 1.2rem;
  border-radius: 24px;
  transition-duration: 0.5s;
}
.section-4 .menu .centro .libros-recomendados ul li a:hover
{
    color: var(--fondo-blanco);
    background: var(--naranja);
    border: none;
}
.section-4 .contenedor
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
}
.section-4 .contenedor .cont
{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px;
    margin-bottom: 50px;
}
.section-4 .contenedor .cont .imagen
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-4 .contenedor .cont .imagen img
{
    width: 100%;
}
.section-4 .contenedor .cont .texto-cont
{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
    text-align: center;
}
.section-4 .contenedor .cont .texto-cont h1
{
    font-size: 1.5rem;
    color: var(--txt-blanco);
    margin: 0;
    font-weight: 500;
}
.section-4 .contenedor .cont .texto-cont p
{
    font-size: 1rem;
    color: var(--txt-blanco);
    padding: 10px;
    font-weight: 300;
}
.section-4 .contenedor .cont .texto-cont a
{
    font-size: 1rem;
    color: var(--txt-blanco);
    padding: 5px 20px;
    background: var(--naranja);
    border-radius: 20px;
    transition-duration: 0.2s;
}
.section-4 .contenedor .cont .texto-cont a:hover
{
    color: var(--txt-blanco);
    background: transparent;
    border: 1px solid var(--borde-blanco);
}
.section-4 .mas
{
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    text-align: center ;
}
.section-4 .mas a
{
    font-size: 1.5rem;
    color: var(--txt-blanco);
    padding: 5px 40px;
    background: var(--azul);
    border-radius: 20px;
    transition-duration: 0.2s;
    border: 1px solid #ffffff;
}
.section-4 .mas a:hover
{
    color: var(--txt-blanco);
    background: var(--naranja);
    border: none;
}
.section-5
{
    width: 100%;
    background: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--borde-blanco);
    border-left: none;
    border-right: none;
    font-family: 'Ubuntu', sans-serif ;

}
.section-5 .txt
{
    width: 40%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-5 .txt p:nth-child(1)
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    font-weight: 700;
}
.section-5 .txt p:nth-child(2)
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    font-weight: 700;
    line-height: 20px;
}
.section-5 .cont-ficha
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.section-5 .cont-ficha .ficha
{
    width: 400px;
    height: 120px;
    border: 1px solid var(--borde-blanco);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.section-5 .cont-ficha .ficha .numero
{
    width: 10%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-5 .cont-ficha .ficha .numero p
{
    font-size: 2rem;
    color: var(--fondo-blanco);
}
.section-5 .cont-ficha .ficha .libro
{
    width: 20%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}
.section-5 .cont-ficha .ficha .libro img
{
    width: 100%;
}

.section-5 .cont-ficha .ficha .descripcion
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-5 .cont-ficha .ficha .descripcion hr
{
    width: 100%
}
.section-5 .cont-ficha .ficha .descripcion .titulo
{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-5 .cont-ficha .ficha .descripcion .titulo p
{
    font-size: 1.5rem;
    color: var(--fondo-blanco);
    margin: 0;
}
.section-5 .cont-ficha .ficha .descripcion .carrera
{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-5 .cont-ficha .ficha .descripcion .carrera p
{
    font-size: 1.2rem;
    color: var(--fondo-blanco);
    margin: 0;

}
.section-5 .cont-ficha .descargar
{
    width: 20%;
    height: 60%;

}
.section-5 .cont-ficha .descargar a i
{
    color: var(--borde-blanco);
    font-size: 3rem;
    transition: 0.4s;
}
.section-5 .cont-ficha .descargar a i:hover
{
   color: var(--naranja);
   font-size: 3.3rem;
}
.section-6
{
    width: 100%;
    background: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0px solid var(--borde-blanco);
    border-left: none;
    border-right: none;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
.section-6 .caja
{
    position: absolute;
    width: 90%;
    height: 100vh;
}
.section-6 .caja .forma:nth-child(1)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
.section-6 .caja .forma:nth-child(2)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov1 5s linear infinite;
}
.section-6 .caja-1
{
    position: absolute;
    width: 80%;
    height: 100vh;
}
.section-6 .caja-1 .forma:nth-child(1)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    animation: mov2 5s linear infinite;
}
.section-6 .caja-1 .forma:nth-child(2)
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    animation: mov3 5s linear infinite;
}
@keyframes mov2 
{
    0% , 100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
@keyframes mov3 
{
    0% , 100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(0px);
    }
}
.section-6 .caja-2
{
    position: absolute;
    width: 59%;
    height: 100vh;
}
.section-6 .caja-2 .forma
{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-10px);
        
    }
    50%
    {
        transform: translateX(0px);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(10px);
    }
    50%
    {
        transform: translateX(0px);
    }
}
.section-6 .txt
{
    width: 40%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.section-6 .txt p:nth-child(1)
{
    font-size: 3rem;
    color: var(--fondo-blanco);
    margin: 0;
    font-weight: 700;
}
.section-6 .txt p:nth-child(2)
{
    font-size: 3rem;
    color: var(--naranja);
    margin: 0;
    font-weight: 700;
    line-height: 20px;
}
.section-6 .cont-ult
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-6 .cont-ult .cont-img 
{
    width: 70%;
    height: 700px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 150px;
}
.section-6 .cont-ult .cont-img .img
{
    width: 100%;
    position: absolute;

}
.section-6 .cont-ult .cont-img .img img
{
    width: 100%;;

}
.section-6 .cont-ult .cont-img .text
{
    position: absolute;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
}
.section-6 .cont-ult .cont-img .text h1
{
    font-size: 2rem;
    color: var(--txt-blanco);
}
footer
{
    width: 100%;
    height: 300px;
    background-color: var(--azul);
    border-top: 1px solid var(--borde-blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .izq
{
    width: 30%;
    text-align: center;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: 1.2rem;
}
footer .centro
{
    width: 40%;
}
footer .centro .redes
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 1px solid var(--fondo-blanco);
  transition-duration: 0.25s;
}
footer .centro .redes a:hover
{
  outline-offset: 5px;
}
footer .centro .redes a i
{
  color: var(--fondo-blanco);
  margin: auto;
}
footer .centro .redes a:nth-child(1):hover i
{
  animation:  shake 0.35s;
  color: #4f3bff;
}
footer .centro .redes a:nth-child(2):hover i
{
  animation:  shake 0.35s;
  color: #ff68b4;
}
footer .centro .redes a:nth-child(3):hover i
{
  animation:  shake 0.35s;
  color: #42ff31;
}
footer .centro .redes a:nth-child(4):hover i
{
  animation:  shake 0.35s;
  color: #fd8989;
}
@keyframes shake
{
  10%
  {
    transform: rotate(25deg);
  }
  20%
  {
    transform: rotate(-25deg);
  }
  30%
  {
    transform: rotate(25deg);
  }
  40%
  {
    transform: rotate(-25deg);
  }
}
footer .der
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .der a
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
footer .der a:hover
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--naranja);
    /*grid-template-columns: repeat(auto-fill, 175px);*/
}


@media (max-width:650px)
{
    nav
    {
        height: 40px;
    }
    nav .izq-1
    {
        width: 40%;
    }
    nav .izq-1 .logo a img
    {
        width: 60%;
    }
    nav .izq-2
    {
        display: none;
    }

    nav .der-1
    {
        display: none;
    }
    nav .der-2
    {
        width: 40%;
    }
    nav .der-2 i
    {
        font-size: .8rem;
    }
    #ventana-d a
{
    height: 40px;
    font-size: .8rem;
}
.section-1
{
    height: auto;
    border-bottom: 1px solid #fff;
    margin: 0;
    margin-top: 40px;
    padding-bottom: 40px;
}
.section-1 .caja 
{
    width: 90%;
    height: 53%;
}
.section-1 .caja-1
{
    width: 90%;
    height: 30%;
}
.section-1 .caja-2
{
    display: none;
}
    .section-1 .caja .forma:nth-child(1)
{
    width: 30px;
    height: 70px;
}
.section-1 .caja .forma:nth-child(2)
{
    width: 30px;
    height: 70px;
}
.section-1 .caja-1 .forma:nth-child(1)
{
    width: 30px;
    height: 30px;
}
.section-1 .caja-1 .forma:nth-child(2)
{
    width: 30px;
    height: 30px;
}
.section-1 .caja-2 .forma:nth-child(1)
{
    width: 70px;
    height: 30px;
}
.section-1 .caja-2 .forma:nth-child(2)
{
    width: 70px;
    height: 30px;
}
    .section-1 .texto
{
    
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: center;
    position: relative;
}
    .section-1 .texto span
{
    font-size: .8rem;
    color: var(--naranja);
}
.section-1 .texto-principal
{
    width: 100%;
    height: 250px;
    padding-bottom: 100px;
    position: relative;
}
    .section-1 .texto-principal .t1 .letra 
{
    font-size: 3.2rem;
    font-weight: 800;
}
.section-1 .texto-principal .t1
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section-1 .texto-principal .t3
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}
.section-1 .texto-principal .t3 .letra 
{
    font-size: 3.2rem;
    font-weight: 800;
}
.section-1 .imagen-central
{
    height: 100vh; 
    position: relative;
    flex-direction: column;
}
.section-1 .imagen-central .izq
{
    width: 80%;
   height: 100px;
}
.section-1 .imagen-central .izq .cont-text
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.section-1 .imagen-central .centro
{
    width: 90%;

}
.section-1 .imagen-central .der
{
    width: 80%;

}
.section-1 .imagen-central .centro .cont-img
{
  height: 90%;
  
}
.section-1 .imagen-central .izq .cont-text p
{
    width: 80%;
    height: 70%;
    font-size: .8rem;
    margin-top: 50px;
}
.section-1 .imagen-central .der .cont-text p
{
    width: 80%;
    height: 70%;
    font-size: .8rem;
}

    .section-3
    {
        flex-wrap: wrap
    }
    .section-3 .txt
{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif ;

}
    .section-3 .txt p:nth-child(1)
{
    font-size: 2rem;
    color: var(--txt-blanco);
    margin: 0;
    line-height: 30px;
    font-weight: 700;
    
}
.section-3 .txt p:nth-child(2)
{
    font-size: 2rem;
    color: var(--naranja);
    margin: 0;
    line-height: 30px;
    font-weight: 700;
    
}
.section-3 .caja .forma:nth-child(1)
{
    width: 30px;
    height: 70px;
}
.section-3 .caja .forma:nth-child(2)
{
    width: 30px;
    height: 70px;
}
.section-3 .caja-1 .forma:nth-child(1)
{
    width: 30px;
    height: 30px;
}
.section-3 .caja-1 .forma:nth-child(2)
{
    width: 30px;
    height: 30px;
}
    .section-3 .contenedor .cont:nth-child(1)
    {
        width: 200px;
        height: 300px;
    }
    .section-3 .contenedor .cont:nth-child(2)
    {
        width: 200px;
        height: 300px;
    }
    .section-3 .contenedor .cont:nth-child(3)
    {
        width: 200px;
        height: 300px;
    }
    .section-3 .contenedor .cont .back h1
{
    font-size: .8rem;
}
.section-3 .contenedor .cont .back p
{
    font-size: .8rem;
}
.section-3 .contenedor .cont .back .link a
{
    font-size: .8rem;
}  
.section-4 .menu .izq
{
    width: 50%;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.section-4 .menu .centro
{
    width: 50%;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.section-4 .menu .izq a
{
    border: 2px solid var(--naranja);
    overflow: hidden;
    position: relative;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    z-index: 2;
    border-radius: 24px;
}
.section-4 .menu .izq a::after{
    display: none;
}

.section-4 .menu .izq a::before{
    display: none;
}

.section-4 .txt
{
    width: 100%;
    height: 30px;
    justify-content: center;
    
}
.section-4 .menu .centro .libros-recomendados ul li a
{
  color: var(--fondo-blanco);
  background: var(--azul);
  padding: 6px 12px;
  border: 1px solid var(--borde-blanco);
  font-size: .8rem;
  border-radius: 24px;
  transition-duration: 0.5s;
}
.section-4 .txt p:nth-child(1)
{
    font-size: 2rem;
}
.section-4 .txt p:nth-child(2)
{
    font-size: 2rem;
}
.section-4 .contenedor
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.section-4 .contenedor .cont
{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px;
    margin-bottom: 50px;
}
.section-4 .contenedor .cont .texto-cont
{
    width: 100%;
    height: 50%;
}
.section-4 .contenedor .cont .texto-cont h1
{
    font-size: 1rem;
}
.section-4 .contenedor .cont .texto-cont p
{
    font-size: .8rem;
    padding: 5px;
}
.section-4 .contenedor .cont .texto-cont a
{
    font-size: 1rem;
}
.section-4 .mas a
{
    font-size: .8rem;
    color: var(--txt-blanco);
    padding: 5px 40px;
    background: var(--azul);
    border-radius: 20px;
    transition-duration: 0.2s;
    border: 1px solid #ffffff;
}
.section-5 .txt
{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-5 .txt p:nth-child(1)
{
    font-size: 2rem;
}
.section-5 .txt p:nth-child(2)
{
    font-size: 2rem;
    
}
.section-5 .cont-ficha
{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.section-5 .cont-ficha .ficha
{
    width: 200px;
    height:60px;
    border: 1px solid var(--borde-blanco);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.section-5 .cont-ficha .ficha .numero p
{
    font-size: .8rem;
    color: var(--fondo-blanco);
}
.section-5 .cont-ficha .ficha .descripcion .titulo p
{
    font-size: .8rem;
    color: var(--fondo-blanco);
    margin: 0;
}
.section-5 .cont-ficha .ficha .descripcion .carrera p
{
    font-size: .8rem;
    color: var(--fondo-blanco);
    margin: 0;

}
.section-5 .cont-ficha .descargar a i
{
    color: var(--borde-blanco);
    font-size: 2rem;
    transition: 0.4s;
}
.section-6 .txt
{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-6 .txt p:nth-child(1)
{
    font-size: 2rem;
}
.section-6 .txt p:nth-child(2)
{
    font-size: 2rem;
    line-height: 10px;
}
.section-6 .cont-ult .cont-img 
{
    width: 70%;
    height: 300px;
}
.section-6 .cont-ult .cont-img .text h1
{
    font-size: .8rem;
}
.section-6 .caja
{
    width: 90%;
    height: 80vh;
}
.section-6 .caja-1
{
    width: 90%;
    height: 70vh;
}
.section-6 .caja-2
{
    width: 80%;
    height: 50vh;
}
.section-6 .caja .forma:nth-child(1)
{
    width: 30px;
    height: 80px;
}
.section-6 .caja-1 .forma:nth-child(1)
{
    width: 30px;
    height: 30px;
}
.section-6 .caja-2 .forma:nth-child(1)
{
    width: 80px;
    height: 30px;
}
.section-6 .caja .forma:nth-child(2)
{
    width: 30px;
    height: 80px;
}
.section-6 .caja-1 .forma:nth-child(2)
{
    width: 30px;
    height: 30px;
}
.section-6 .caja-2 .forma:nth-child(2)
{
    width: 30px;
    height: 80px;
}
footer
{
    height: 200px;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: .8rem;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
footer .centro .redes
{
  gap: 5px;
}
footer .der a
{
    font-size: .8rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
}
