@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --fondo-blanco: #F5F5F5;
    --fondo-negro: #000000;
    --txt-blanco: #fff;
    --txt-negro: #000000;
    --azul: #0f1e30;
    --borde-blanco: #B5B5B5;
    --naranja: #F37119;
}
body
{
   font-family: 'Ubuntu', sans-serif;
}

nav
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 0 1px;
}
.mostrar-subir[type="radio"]
{
    position: absolute;
    width: 300px;
    height: 300px;
    cursor: pointer;
    left: 37%;
    top: 25%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0; 
}
.ocultar-subir[type="radio"]
{
   position: absolute;
   width: 30px;
   height: 30px;
   cursor: pointer;
   left: 88%;
   top: 5%;
   z-index: 11;
   transition: 0.5s;
   opacity: 0;
}
.cerrar
{
    position: absolute;
    width: 30px;
    height: 30px;
    pointer-events: none;
    background: var(--naranja);
    border-radius: 50%;
    left: 88%;
    top: 5%;
    z-index: 11;
    transition: 0.5s;
}
.cerrar:before
{
    content: 'X';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}
.mostrar-subir[type="radio"]:checked ~ div .rectangle:nth-child(2)
{
    bottom: -10%;
    height: 320px;
}


nav .izq-1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 80px;


}
nav .izq-1 .logo
{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-1 .logo a img
{
    width: 40%;
    cursor: pointer;
}
nav .izq-1 .logo a
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 80px;
}

nav .izq-2 .buscador
{
    width: 80%;
    height: 45px;
    background: var(--azul);
    border: 1px solid var(--borde-blanco);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .izq-2 .buscador i
{
    color: var(--borde-blanco);
    margin-right: 20px;
}
::placeholder
{
    color: var(--fondo-blanco);
}
nav .izq-2 .buscador input
{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 260px;
    color: var(--txt-blanco);
}
nav .der-1
{
    width: 35%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .der-1 .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .der-1 .menu li
{
    width: 30%;
    list-style: none;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
    height: 80px;
    overflow: hidden;
}
nav .der-1 .menu li:hover
{transition: .5s;
    overflow: visible;
    
}
nav .der-1 .menu li a:hover
{
    color: var(--naranja);
}
nav .der-1 .menu li:nth-child(2):hover
{
    background: var(--naranja);
    animation-duration: 10s;
}
nav .der-1 .menu li:nth-child(2) a:hover
{
    background: var(--naranja);
    color: var(--azul);
    animation-duration: 10s;
}

nav .der-1 .menu li a
{
    color: white;
    text-decoration: none;
    display: block;
    transition: .8s;
}
nav .der-1 .menu li ul li
{
    width: 100%;
    height: 80px;
    background: var(--naranja);
    
}
nav .der-1 .menu li ul li:nth-child(4)
{
    border-bottom-right-radius: 20px;
}
nav .der-1 .menu li ul li a:hover
{
    color: var(--azul);
    
}
nav .der-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 15%;
    height: 80px;
}
nav .der-2 i
{
    width: 35px;
    height: 35px;
    color: var(--fondo-blanco);
    line-height: 35px;
    font-size: 1.5rem;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}
nav .der-2 i:hover
{
    background: rgba(231, 231, 231, 0.2);
    border-radius: 35px;
}
#ventana-d
{
    width: 200px;
    height: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition: ease-in-out .7s;
}
#ventana-d a
{
    height: 80px;
    margin-right: 43px;
    padding-top: 28px;
    font-size: 1.5rem;
    color: var(--azul);
    transition: ease-in 0.5s;
}
#ventana-d:target
{
    z-index: 1;
    opacity: 1;
}
#ventana-d a
{
    color: rgb(255, 255, 255);
}
#ventana-d a:hover
{
    color: rgb(255, 255, 255);
}
#ventana-d .contenido-perfil
{
    width: 100%;
    height: 200px;
    background:var(--naranja);
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#ventana-d .contenido-perfil ul hr
{
    width: 90%;
}
#ventana-d .contenido-perfil ul li
{
    list-style: none; 
    margin: 10px ;
}
#ventana-d .contenido-perfil ul li a
{
    font-size: 1rem;
    margin: 0;
}
#ventana-d .contenido-perfil ul li a:hover
{
    color: var(--azul);
}
.section-1
{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azul);
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif ;
    position: relative;
}
.section-1 .caja
{
    position: absolute;
    width: 80%;
    height: 80vh;
}
.section-1 .caja .forma:nth-child(1)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    animation: mov 5s linear infinite;
}
@keyframes mov1 
{
    0% , 100%
    {
        transform: translateX(-20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
@keyframes mov 
{
    0% , 100%
    {
        transform: translateX(20px);
    }
    50%
    {
        transform: translateX(0px);
        transform: scale(1.1);
    }
}
.section-1 .caja .forma:nth-child(2)
{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    border: 1px solid var(--fondo-blanco);
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    animation: mov1 5s linear infinite;
}

.section-1 .obj-cen div .rectangle:nth-child(1) .texto
{
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.section-1 .obj-cen div .rectangle:nth-child(1) .texto .txt
{
    width: 100%;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .texto .txt h1
{
    font-size: 3rem;
    color: var(--txt-blanco);
    text-align: center;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .texto .txt h1 span
{
    font-size: 3rem;
    color: var(--naranja);
    text-align: center;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .icono
{
    width: 100%;
    height: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.section-1 .obj-cen div .rectangle:nth-child(1) .icono a
{
    width: 100%;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .icono img 
{
    width: 80%;
    object-fit: cover;
}

.section-1 .obj-cen
{
    width: 80%;
    height: 100%;
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
.section-1 .obj-cen div
{
    width: 50%;
    height:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.section-1 .obj-cen div .rectangle:nth-child(1)
{
    width: 500px;
    height: 500px;
    background: none;
    border-radius: 50px;
    border:  1px solid var(--borde-blanco);
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.section-1 .obj-cen div .rectangle:nth-child(2)
{
    width: 435px;
    height: 190px;
    background: var(--azul);
    border-radius: 50px;
    border: 1px solid var(--borde-blanco);
    position: absolute;
    bottom: -120%;
    right: 13%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 1px 2px 8px 6px;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto
{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.section-1 .obj-cen div .rectangle:nth-child(2) input 
{
    background: var(--fondo-blanco);
    color: var(--txt-negro);
    border-radius: 24px;
    font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo p
{
  font-size: 2.1rem;
  color: var(--txt-blanco);
  font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo .subir
{
  
  color: var(--borde-blanco);
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo .enviar
{
  width: 70%;
  height: 40px;
  border-radius: 20px;
  background: var(--naranja);
  color: var(--txt-blanco);
  transition: 1s;
  font-size: 1.3em;
  font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo .enviar:hover
{
  
  border-radius: 20px;
  background: var(--txt-blanco);
  color: var(--naranja);

  border: none;

}
footer
{
    width: 100%;
    height: 300px;
    background-color: var(--azul);
    border-top: 1px solid var(--borde-blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
footer .izq
{
    width: 30%;
    text-align: center;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: 1.2rem;
}
footer .centro
{
    width: 40%;
}
footer .centro .redes
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 1px solid var(--fondo-blanco);
  transition-duration: 0.25s;
}
footer .centro .redes a:hover
{
  outline-offset: 5px;
}
footer .centro .redes a i
{
  color: var(--fondo-blanco);
  margin: auto;
}
footer .centro .redes a:nth-child(1):hover i
{
  animation:  shake 0.35s;
  color: #4f3bff;
}
footer .centro .redes a:nth-child(2):hover i
{
  animation:  shake 0.35s;
  color: #ff68b4;
}
footer .centro .redes a:nth-child(3):hover i
{
  animation:  shake 0.35s;
  color: #42ff31;
}
footer .centro .redes a:nth-child(4):hover i
{
  animation:  shake 0.35s;
  color: #fd8989;
}
@keyframes shake
{
  10%
  {
    transform: rotate(25deg);
  }
  20%
  {
    transform: rotate(-25deg);
  }
  30%
  {
    transform: rotate(25deg);
  }
  40%
  {
    transform: rotate(-25deg);
  }
}
footer .der
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .der a
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
footer .der a:hover
{
    font-size: 1.2rem;
    margin: 5px;
    color: var(--naranja);
}
@media (max-width:650px)
{
    nav
    {
        height: 40px;
    }
    nav .izq-1
    {
        width: 40%;
    }
    nav .izq-1 .logo a img
    {
        width: 60%;
    }
    nav .izq-2
    {
        display: none;
    }

    nav .der-1 .menu
    {
        justify-content: flex-end;
    }
    nav .der-1 .menu li:nth-child(1)
    {
        display: none;
    }
    nav .der-1 .menu li:nth-child(2) a
    {
        font-size: .8rem;
    }
    nav .der-1 .menu li:nth-child(2) ul
    {
        display: none;
    }
    nav .der-1 .menu li:nth-child(3)
    {
        display: none;
    }
    nav .der-2
    {
        width: 40%;
    }
    nav .der-2 i
    {
        font-size: .8rem;
    }
    #ventana-d a
{
    height: 40px;
    font-size: .8rem;
}
.section-1
{
    margin-top: 40px;
}
.section-1 .caja
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.section-1 .obj-cen
{
    width: 100%;
    height: 80%;
    position: absolute;
    margin-top: 0px;

}
.section-1 .obj-cen div
{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-1 .obj-cen div .rectangle:nth-child(1)
{
    width: 300px;
    height: 300px;
}
.section-1 .obj-cen div .rectangle:nth-child(2)
{
    width: 235px;
    height: 190px;
    background: var(--azul);
    border-radius: 50px;
    border: 1px solid var(--borde-blanco);
    position: absolute;
    bottom: -100%;
}
.mostrar-subir[type="radio"]
{
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: pointer;
    left: 35%;
    top: 40%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0; 
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo .subir
{
  width: 80%;
}
.section-1 .obj-cen div .rectangle:nth-child(2) .texto .titulo p
{
  font-size: 1rem;
  color: var(--txt-blanco);
  font-family: 'Ubuntu', sans-serif;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .texto .txt h1
{
    font-size: 2rem;
}
.section-1 .obj-cen div .rectangle:nth-child(1) .texto .txt h1 span
{
    font-size: 2rem;
}
footer
{
    height: 200px;
}
footer .izq p
{
    color: var(--fondo-blanco);
    font-size: .8rem;
}
footer .centro .redes a
{
  text-decoration: none;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
footer .centro .redes
{
  gap: 5px;
}
footer .der a
{
    font-size: .8rem;
    margin: 5px;
    color: var(--fondo-blanco);
    
}
}
